@import "./variables.css";

/* THIS IS JUST DUMMY CSS TO MAKE IT LOOK A LITTLE GOOD */

.homePage {
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 66px);
}

.homePage h1 {
  margin-bottom: 40px;
}
